.container {
  text-align: center;
  margin-top: 100px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  padding: 20px; }
  .container .filter {
    padding: 20px; }
    .container .filter button {
      margin-left: 20px; }
  .container .todo-list {
    padding: 20px 20px 0 20px; }
    .container .todo-list ul {
      width: 100%; }
      .container .todo-list ul li .line-through {
        text-decoration: line-through;
        color: #eee; }
      .container .todo-list ul li div:nth-child(2) {
        padding: 7px 0;
        word-break: break-all; }
      .container .todo-list ul li button {
        margin: 20px 0 0 20px; }
      .container .todo-list ul li span {
        display: block;
        border-bottom: 1px solid #eee;
        margin-bottom: 10px;
        padding-bottom: 10px; }
  .container button {
    width: 250px;
    text-transform: uppercase; }
  .container input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    padding: 6px;
    text-align: center; }
